name: Publish to PyPI

on:
  workflow_dispatch:
    inputs:
      dryRun:
        description: 'Do a dry run to preview instead of a real release'
        required: true
        default: 'true'

jobs:
  authorize:
    name: Authorize
    runs-on: ubuntu-latest
    steps:
      - name: ${{ github.actor }} permission check to do a release
        uses: "lannonbr/repo-permission-check-action@2.0.2"
        with:
          permission: "write"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build-n-publish:
    name: Build and publish to PyPI
    runs-on: ubuntu-latest
    needs: [authorize]
    steps:
      - name: Checkout for release to PyPI
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Python 3.8
        uses: actions/setup-python@v3
        with:
          python-version: 3.8

      - name: Run Test
        run: python -m unittest discover -s ./src -p 'test_*.py'

      - name: Publish distribution PyPI --dry-run
        if: ${{ github.event.inputs.dryRun == 'true'}}
        run: |
          python -m pip install python-semantic-release==7.33.0
          semantic-release publish --noop

      - name: Publish distribution PyPI
        if: ${{ github.event.inputs.dryRun == 'false'}}
        run: |
          python -m pip install python-semantic-release==7.33.0
          git config user.name amplitude-sdk-bot
          git config user.email amplitude-sdk-bot@users.noreply.github.com
          semantic-release publish
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPOSITORY_USERNAME: __token__
          REPOSITORY_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
